@font-face {
  font-family: FiraGORegular;
  src: url("/src/assets/fonts/FiraGO-Regular.woff2");
}

@font-face {
  font-family: FiraGOBold;
  src: url("/src/assets/fonts/FiraGO-ExtraBold.otf");
}

@font-face {
  font-family: FiraGOMedium;
  src: url("/src/assets/fonts/FiraGO-Medium.otf");
}

@font-face {
  font-family: FiraGOLight;
  src: url("/src/assets/fonts/FiraGO-Light.otf");
}
