@use "/src/styles/_breakpoints.scss" as *;
@use "/src/styles/fonts.scss" as *;
@use "/src/styles/Section.scss" as *;
@use "/src/styles/Children.scss" as *;
@use "/src/styles/ChartsSection.scss" as *;
@use "/src/styles/ChartContainer.scss" as *;
@use "/src/styles/ChartWrapper.scss" as *;
@use "/src/styles/SpinnerAndError.scss" as *;
@use "/src/pages/Water/SupplyAndLosses/supply-and-losses-page.scss"
  as *;
@use "/src/styles/PieChart.scss" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: FiraGOLight;
  font-weight: 500;
  background-color: #f4f4f7;
  overflow-x: hidden;
}

main {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
}
